@import url("https://fonts.googleapis.com/earlyaccess/cwtexkai.css");
:root {
  font-family: cwTeXKai, serif;
  font-weight: 800;
}
input,
button,
textarea {
  font-family: cwTeXKai, serif;
  font-weight: 300;
}
html {
  background: url(/assets/background.jpg) center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}
body {
  background: #ffffffbf;
  max-width: 800px;
  width: 100%;
}
body,
html {
  margin: 0;
  padding: 0;
}
marquee {
  font-size: 30px;
  background: #00f;
  color: #ff0;
}
#app {
  padding: 16px;
}
h1,
h2 {
  font-size: 32px;
}
nav[data-v-ea0741eb] {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: #00f;
  justify-content: center;
}
nav a[data-v-ea0741eb]:hover {
  color: #ff0;
}
nav a[data-v-ea0741eb]:visited {
  color: red;
}
img[data-v-dd2daaa8] {
  width: 100%;
}
input[data-v-5863830a] {
  border: 2px solid black;
  font-size: 16px;
  padding: 16px;
  border-radius: 8px;
  outline: none;
  width: 300px;
}
button[data-v-5863830a] {
  font-size: 16px;
  padding: 8px;
}
article[data-v-5863830a],
#app[data-v-5863830a] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  box-sizing: border-box;
}
